@import "../variables.scss";

.ps5-preview {
  // margin: $margin-x 0;
  margin-top: 6rem;
  // display: flex;
  // justify-content: space-between;
  // align-items: flex-end;
  // flex-wrap: wrap;

  table {
    width: 100%;
  }

  @media (min-width: 576px) {
    flex-wrap: nowrap;
  }

  .ps5-disk {
    margin-top: 1rem;

    @media (min-width: 576px) {
      margin: 0;
    }
  }

  h2 {
    font-size: 2rem;
    font-weight: 300;
  }

  p {
    width: 30%;
     @media (max-width: 768px) {
      width: 100%;
    }
  }

  // img {
  //   width: 100%;
  //   max-width: 400px;
  // }
}
